@import "tailwindcss";
@plugin "daisyui";

/* ======== marquee class ======== */
@theme {
  --animate-marquee: marquee 10s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
